<a href="https://colab.research.google.com/github/bydebby/python/blob/main/Python_Essential.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Essential  in A Notebook

In [ ]:
#Release: 1.2109.1901

# 1. Python Basic Syntax

## Lines and Indentation

Pada Python, setiap statement dipisahkan oleh baris

In [ ]:
i = 12
j = 15
k = i + j
print(k)

27

Setiap block statement memiliki indent yang sama

In [ ]:
if i > j:
   print("True")
   print("Nilai i: ", i, " dan nilai j: ", j)
else:
   print("False")

True
Nilai i:  12  dan nilai j:  2

In [ ]:
j = 2

Jalankan kode di bawah ini, perhatikan apa yang akan terjadi dan kenapa

In [ ]:
if 3 > 2:
print("True")
else:
print("False")

IndentationError: ignored

In [ ]:
if 3 > 2:
 print("True")
else:
 print("False")

True

In [ ]:
if 3 > 4:
  print("True")
else:
 print("False")

False

In [ ]:
if 3 > 2:
   print("True")
 print("False")

IndentationError: ignored

In [ ]:
if 3 > 2:
   print("True")
   print("False")

True
False

In [ ]:
if 3 > 2:
   print("True")
print("False")

True
False

In [ ]:
if 3 > 5:
   print("True")
print("False")

False

In [ ]:
if 3 > 2:
   print("True")
print("False")

True
False

Semua baris yang memiliki indent  dengan jumlah spasi yang sama akan membentuk blok.

In [ ]:
a = 11
if a > 2:
  print("Greater than 2")
  if a > 10:
    print("Greater than 10")
    print("A pretty big number")
  else:
    print("Not greater than 10")
  
else:
 print("Not greater than 2")
 print("Still the same else block")

print("Print no matter what")

Greater than 2
Greater than 10
A pretty big number
Print no matter what

## Multiline Statements

Beberapa cara penulisan untuk multiline statement

In [ ]:
print("This is a \
multiline \
statement")

print("This is a " 
      "multiline "
      "statement ")

a = 100 + \
    100 + \
    100
a

This is a multiline statement
This is a multiline statement

300

## Multiple Statements in A Line

Jika ingin menuliskan lebih dari satu statement perbaris, maka digunakan **semicolon (;)** sebagai pemisah antar statement

In [ ]:
a = 10; b = a + 2; print(b)

12

In [ ]:
a = 10
b = a + 2
print(b)

12

## Python Block of Code

Berikut contoh penulisan block pada Python

In [ ]:
if True:
   print("Answer:")
   print("True")
else:
  print("Answer:")
  print("False")

Answer:
True

In [ ]:
if True:
    print("Answer:")
    print("True")
else:
    print("Answer:")
print("False")

Answer:
True
False

## Python Comments and Docstring

Komentar akan didahului dengan tanda **#**

In [ ]:
# This is a line of comment

In [ ]:
# This is a comment
print("Hello Python!") # This line prints : Hello Python!

print("This is " #this is a comment
      "a multiline statement")

Hello Python!
This is a multiline statement

**docstring** digunakan untuk mendokumentasikan modul, kelas, fungsi, atau metode, sehingga programmer dapat memahami apa yang dilakukannya tanpa harus membaca detail kodenya.

In [ ]:
def mysqrt(n):     
  '''Takes in a number n, returns the square of n'''

  return n**2

mysqrt.__doc__

'Takes in a number n, returns the square of n'

In [ ]:
def mysqrt(n):     
  '''Takes in a number n, returns the square of n'''

  return n**2

In [ ]:
print(mysqrt.__doc__)

Takes in a number n, returns the square of n

## Print

In [ ]:
x = 2
print('Value of x:', x)

Value of x: 2

Format **print** untu nilai integer and float

In [ ]:
# print integer and float value
print("Total: %2d, Average: %5.2f" % (1, 05.333))

Total:  1, Average:  5.33

In [ ]:
# print integer value
print("Total students: -%3d-, Boys : -%3d-" % (247, 1))

Total students: -247-, Boys : -  1-

## Variable

setiap variable tidak perlu didefinisikan type-nya terlebih dahulu. Type variable akan mengikuti nilai yang diberikan ke sebuah variabel

In [ ]:
x = 2
type(x)

int

In [ ]:
x = 'dua'
type(x)

str

#2. Python Numbers

## Integer

In [ ]:
my_num = 7
my_num

7

In [ ]:
print(my_num)

7

In [ ]:
print('Value:', my_num)

Value: 7

In [ ]:
type(my_num)

int

In [ ]:
print(isinstance(my_num, int))
print(isinstance(my_num, float))

True
False

In [ ]:
my_num = int('7')
print(my_num)
print(type(my_num))
print(isinstance(my_num, int))

7
<class 'int'>
True

## Float

In [ ]:
my_fnum = 1.0
print(my_fnum)
print(type(my_fnum))
print(isinstance(my_fnum, float))

1.0
<class 'float'>
True

In [ ]:
my_fnum = float(my_num)
print(my_fnum)
print(type(my_fnum))
print(isinstance(my_fnum, float))

7.0
<class 'float'>
True

Pembagian type `int` akan menghasilkan `float`

In [ ]:
num1 = 4
num2 = 2
print(type(num1))
print(type(num2))

<class 'int'>
<class 'int'>

In [ ]:
num3 = num1 / num2
print(num3)
type(num3)

2.0

float

In [ ]:
from fractions import Fraction

my_fraction = Fraction(8, -10)
print(my_fraction)
type(my_fraction)

-4/5

fractions.Fraction

In [ ]:
print(Fraction.__doc__)

This class implements rational numbers.

    In the two-argument form of the constructor, Fraction(8, 6) will
    produce a rational number equivalent to 4/3. Both arguments must
    be Rational. The numerator defaults to 0 and the denominator
    defaults to 1 so that Fraction(3) == 3 and Fraction() == 0.

    Fractions can also be constructed from:

      - numeric strings similar to those accepted by the
        float constructor (for example, '-2.3' or '1e10')

      - strings of the form '123/456'

      - float and Decimal instances

      - other Rational instances (including integers)

# 3. Strings

String diidentifikasikan dengan tanda **petik tunggal (')** atau **petik ganda (")** yang mengapitnya

In [ ]:
str1 = 'Hello world!'
str2 = "This is a Python string."

In [ ]:
# tampilkan str1 dan str2
str1

'Hello world!'

In [ ]:
print(str1)

Hello world!

In [ ]:
# tampilkan tipe dari str1 dan str2 dengan menggunakan fungsi type

type(str2)

str

Untuk mengetahui panjang string dapat menggunakan fungsi **len**

In [ ]:
# tampilkan panjang str2
len(str2)

24

Menampilkan tanda petik tunggal atau petik ganda dalam string

In [ ]:
print('allows embedded "double" quotes')

allows embedded "double" quotes

In [ ]:
print("allows embedded 'single' quotes")

allows embedded 'single' quotes

Tanda 3 kali petik dapat digunakan untuk penulisan string yang memiliki lebih dari satu baris

In [ ]:
print('''Three single 
quotes''')

print("""Three double 
quotes""")

Three single
quotes
Three double
quotes

In [ ]:
print("This is multi\
line statement.")
print("""This is multi
line string.""")

This is multiline statement.
This is multi
line string.

Karakter khusus: **tab, newline dan backspace**

In [ ]:
print("this is tab\t.")

this is tab	.

In [ ]:
print("this is new\nline.")

this is new
line.

In [ ]:
print("this is backspace\b.")

this is backspace.

Mengakses elemen pada string

In [ ]:
mystring = 'Apa kabar dunia!'
print(mystring)

Apa kabar dunia!

Mengakses huruf pertama

In [ ]:
print(mystring[0])

A

Mengakses huruf ke 4 sampai 10

In [ ]:
print(mystring[4:10])

kabar

Mengakses huruf ke 4 hingga terakhir

In [ ]:
print(mystring[4:])

kabar dunia!

Mengakses huruf pertama hingga 10 dari akhir

In [ ]:
print(mystring[:-10])

Apa ka

##Updating string

String pada python adalah **immutable**. Tidak dapat diubah atau diupdate, Untuk mengubahnya harus membuat string yang baru.

In [ ]:
str2 = "This is a Python string."
print(str2)

This is a Python string.

In [ ]:
print(str2.replace('i','_'))

Th_s _s a Python str_ng.

In [ ]:
print(str2)

This is a Python string.

In [ ]:
A = "Hello World!"
A[2] = 'a'

TypeError: ignored

##String Operators

In [ ]:
#checking containments
str2 = "This is a Python string."
print('x' in str2)
print('x' not in str2)

False
True

In [ ]:
#concatenation 
print(str2 + " You know.")
print(str2)

This is a Python string. You know.
This is a Python string.

In [ ]:
#multiplication --> adding string to itself n times
str1 = 'Hello world!'
print(str1 * 3)
print(3 * str1)

Hello world!Hello world!Hello world!
Hello world!Hello world!Hello world!

In [ ]:
str1 = 'Hello world!'
print("Minimun char in str1: \'"+ min(str1) + "\'")
print("Maximun char in str1: \'"+ max(str1) + "\'")

Minimun char in str1: ' '
Maximun char in str1: 'w'

##String methods

Untuk mengetahui panjang sebuah string dapat menggunakan fungsi **len**

In [ ]:
# tampilkan panjang string str2
len(str2)

24

Method **count** pada string digunakan untuk mencari jumlah kemunculan sebuah string

In [ ]:
# berapa kali 'is' muncul pada str2 ?
str2.count('is')

2

Method **lower** digunakan untuk merubah string menjadi huruf kecil (lower case)

In [ ]:
# tampilkan str2 sebagai lower case
str2.lower()

'this is a python string.'

Method **find** digunakan untuk mencari posisi pertama kali ditemukannya sebuah substring

In [ ]:
# cari lokasi is pada str2
print(str2.find("is"))

2

In [ ]:
# cari lokasi is pada str2 dimulai dari index ke 3
print(str2.find("is",3))

5

In [ ]:
str2.lower().find("p")

10

In [ ]:
str2.lower() \
.find("p")

10

List lengkap method pada string --> https://docs.python.org/3/library/stdtypes.html#string-methods

##String Formatting Operators

see complete doc in https://docs.python.org/3/library/stdtypes.html#printf-style-string-formatting

In [ ]:
planet = 'Earth'
radius = 6371
print ("The %s radius is %d km!" % (planet,  radius))

The Earth radius is 6371 km!

In [ ]:
a = 'Mars'; b = 3389.5
print ("The %s radius is %d km!" % (a,  b))  # b dalam desimal

The Mars radius is 3389 km!

In [ ]:
print ("The %s radius is %f km!" % (a,  b))  # b dalam float

The Mars radius is 3389.500000 km!

In [ ]:
print ("List planet: %s and %s" %(planet,a))

List planet: Earth and Mars

In [ ]:
#the f-string formatter
print(f"The {planet} radius is {radius} km!")

The Earth radius is 6371 km!

In [ ]:
#the format() method
print("The {0} radius is {1} km!".format(planet, radius))
print("The {a} radius is {b} km!".format(a="Mars", b=3389.5))

The Earth radius is 6371 km!
The Mars radius is 3389.5 km!

#4. List

List adalah sekumpulan object yang ditandai dengan **kurung siku**

List adalah mutable, sehingga dapat diupdate atau diubah

In [ ]:
list1 = ['apple', 'banana', 'strawberry', 100, 100, 200, 10/3]
list1

['apple', 'banana', 'strawberry', 100, 100, 200, 3.3333333333333335]

In [ ]:
# tampilkan panjang list1 menggunakan fungsi len
len(list1)

7

##Accessing elements

In [ ]:
# tampilkan element pertama dari list1
list1[0]

'apple'

In [ ]:
# tampilkan semua elemen list1 mulai dari elemen ke 3
list1[2:]

['strawberry', 100, 100, 200, 3.3333333333333335]

In [ ]:
# tampilkan mulai dari elemen pertama hingga elemen ke 3 dari akhir (dengan notasi -)
list1[0:-2]

['apple', 'banana', 'strawberry', 100, 100]

##Updating a list

In [ ]:
# ubah elemen ke 2 menjadi 'cherry'
list1[1]= 'cherry'

In [ ]:
list1

['apple', 'cherry', 'strawberry', 100, 100, 200, 3.3333333333333335]

##Deleting element

In [ ]:
#delete by index
del list1[2]

In [ ]:
list1[2]

100

In [ ]:
list1

['apple', 'cherry', 100, 100, 200, 3.3333333333333335]

In [ ]:
print ("After deleting value at index 2 : ", list1)

After deleting value at index 2 :  ['apple', 'cherry', 100, 200, 3.3333333333333335]

In [ ]:
#delete by item
list1.remove(100)
print ("After deleting value 100 : ", list1)

After deleting value 100 :  ['apple', 'cherry', 100, 200, 3.3333333333333335]

##Appending list

In [ ]:
#Appends object obj to list
list1.append("tomato")
print ("After append  : ", list1)

After append  :  ['apple', 'cherry', 100, 200, 3.3333333333333335, 'tomato']

In [ ]:
#Appends the contents of seq to list
list2 = ['red', 'green', 'blue']
list1.extend(list2)
print ("After appends : ", list1)

After appends :  ['apple', 'cherry', 100, 200, 3.3333333333333335, 'tomato', 'red', 'green', 'blue']

In [ ]:
#Appends list object to list
list1.append(list2)
print ("After appends : ", list1)

After appends :  ['apple', 'cherry', 100, 200, 3.3333333333333335, 'tomato', 'red', 'green', 'blue', ['red', 'green', 'blue']]

# 5. Tuple


Tuple is **immutable** collection of objects

Tuples use **parentheses**, whereas lists use **square brackets**.

In [ ]:
col_01 = []
col_02 = ()

print('Type of collection 01:', type(col_01))
print('Type of collection 02:', type(col_02))

Type of collection 01: <class 'list'>
Type of collection 02: <class 'tuple'>

In [ ]:
tuple01 = ('sun', 'mon', 'tue', 1, 2/7, ['a','b'])
tuple01

('sun', 'mon', 'tue', 1, 0.2857142857142857, ['a', 'b'])

##Accessing tuple elements

In [ ]:
print(tuple01[0])
print(tuple01[3:])
print(tuple01[:-3])

sun
(1, 0.2857142857142857, ['a', 'b'])
('sun', 'mon', 'tue')

##Updating tuple

In [ ]:
#Tuple is immutable, updating is not possible
tuple01[1] = 'sat'
print(tuple01)

TypeError: ignored

In [ ]:
#Tuple is immutable, updating is not possible
#tuple01[1] = 'sat'
print(tuple01)

('sun', 'mon', 'tue', 1, 0.2857142857142857, ['a', 'b'])

##Tuple operations

In [ ]:
#concatenation
print(tuple01 + (1,2,3))

#multiplication
print(tuple01 * 2)

#len
print(len(tuple01))

#check containment
print(1 in tuple01)
print(1 not in tuple01)

('sun', 'mon', 'tue', 1, 0.2857142857142857, ['a', 'b'], 1, 2, 3)
('sun', 'mon', 'tue', 1, 0.2857142857142857, ['a', 'b'], 'sun', 'mon', 'tue', 1, 0.2857142857142857, ['a', 'b'])
6
True
False

# Sequence Operation


Sequence is collection of objects whose contents can be accessed via "**indexing**"

Most common used sequence: **Strings, Lists, Tupples**

In [ ]:
a = 'Hello '
len(a)

6

### Indexing and Slicing

In [ ]:
b = [1, 2, 3, 4, 5]
len(b)

5

In [ ]:
b[0]

1

In [ ]:
b[0:3]

[1, 2, 3]

In [ ]:
b[:3]

[1, 2, 3]

In [ ]:
print( b[3] + b[-4])

6

In [ ]:
a = 'Hello World!'
print( a[-6:] + a[:5])

World!Hello

In [ ]:
#iteration
for item in a:
  print(item)

H
e
l
l
o

W
o
r
l
d
!

### Concatenation

In [ ]:
#concatenation string
a = 'Hello '
print( a + 'World!' )

Hello World!

In [ ]:
#concatenation list
b = [1 , 2]
c = ['a', 'b']
print( b + c )

[1, 2, 'a', 'b']

In [ ]:
type(b)

list

In [ ]:
#sequence multiplication
a = 'Hello World!'
print( a * 3 )

b = 1, 2, 3, 4
print( b * 2 )

Hello World!Hello World!Hello World!
(1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
#membership testing
a = 'Hello World!'
print( 'Hello' in a )

b = [1, 2, 3, 4]
print( 7 in b )

True
False

#6. Conditional Statement

##Truth value testing

In [ ]:
#python consider Null, empty sequences, and 0 as False and other as True

print("Nonzero number = {0}, zero number = {1}".format(bool(1), bool(0)))
print("String with value = {0}, empty string = {1}".format(bool('some string'), bool('')))

Nonzero number = True, zero number = False
String with value = True, empty string = False

In [ ]:
list1 = []; list2 = [1,2]
print("List with value = {0}, empty list = {1}".format(bool(list2), bool(list1)))

List with value = True, empty list = False

In [ ]:
tuple1 =(); tuple2 = 1,2,3
print("Tuple with value = {0}, empty tuple = {1}".format(bool(tuple2), bool(tuple1)))
print("Null value = {0}".format(bool(None)))

Tuple with value = True, empty tuple = False
Null value = False

##Combining logic statement

In [ ]:
stat1 = True
stat2 = False
stat3 = 247
stat4 = []

print("[1,2,3] != [3,2,1] = {0}".format([1,2,3] != [3,2,1]))
#print("{1,2,3\} != \{3,2,1\} = {0}".format({1,2,3} != {3,2,1}))
print("True and False = {0}".format(stat1 and stat2))
print("True and 247 = {0}".format(stat3 and stat1))
print("True and empty list = {0}".format(stat4 and stat1))

print(100 and True and 200)

[1,2,3] != [3,2,1] = True
True and False = False
True and 247 = True
True and empty list = []
200

##Simple `if` statement

In [ ]:
statement = True
if statement:
    print('statement is True')
    
if not statement:
    print('statement is not True')

statement is True

In [ ]:
empty_list = []
if empty_list:
    print('empty list is considered True')
    
if not empty_list:
    print('empty list is considered False')

empty list is considered False

##`if-else` statement

In [ ]:
statement = True
if statement:
    print('statement is True')
else:
    print('statement is not True')

statement is True

In [ ]:
zero_num = 0
if zero_num:
    print('zero is considered True')
else:
    print('zero is considered False')

zero is considered False

##nested `if` statement

In [ ]:
mynum = 6
if mynum <= 10:
  print("Less than or equal to 10")
  if mynum != 5:
    if mynum < 5:
      print("Less than 5")
    else:
      print("It's either 6, 7, 8, 9 or 10")
  else:
    print("5")
else:
  print("Greater than 10")
  if (mynum <= 1000):
    print("Less than 1000")
  else:
    print("Pretty big number")

print("print anyway")

Less than or equal to 10
It's either 6, 7, 8, 9 or 10
print anyway

##`elif` statement

In [ ]:
mynum = 60
if mynum <= 5:
  print("Less than or equal to 5")
elif mynum <= 10:
  print("It's either 6, 7, 8, 9 or 10")
elif mynum <= 100:
  print("Between 11 and 1000")
else:
  print("Pretty big number")

Between 11 and 1000

#7. Looping and Iteration

##`while` loop

In [ ]:
a = 0
while a <= 10:
  print("current a : %d" % a)
  a = a + 1

current a : 0
current a : 1
current a : 2
current a : 3
current a : 4
current a : 5
current a : 6
current a : 7
current a : 8
current a : 9
current a : 10

##`for` loop

In [ ]:
my_fruit = ['apple', 'banana', 'strawberry', 'cherry', 'grape']
for i in my_fruit:
  print("Let's eat %s!" % i)

Let's eat apple!
Let's eat banana!
Let's eat strawberry!
Let's eat cherry!
Let's eat grape!

Nested loop for handling list of lists

In [ ]:
transportations = [['plane', 'helicopter', 'hot air balloon'], 
         ['bus', 'train', 'truck', 'car'],
         ['ship', 'boat', 'canoe', 'raft']]

for i in transportations:
  print('these are belong in the same group:')
  for y in i:
    print('\t- %s' % y)

these are belong in the same group:
	- plane
	- helicopter
	- hot air balloon
these are belong in the same group:
	- bus
	- train
	- truck
	- car
these are belong in the same group:
	- ship
	- boat
	- canoe
	- raft

#8. Function
##Simple Function

In [ ]:
#simple function
def hello_world():
  print("Hello World!")

#call the function
hello_world()

Hello World!

In [ ]:
#function with 1 parameter
def hello(name):
  """This function prints out greeting. 
  It received 1 parameter"""
  print("Hello %s!" % name)

#call the function
hello("World")
hello("there")

Hello World!
Hello there!

In [ ]:
#function return value
def plus(num1, num2):
  result = num1 + num2
  print("{0} + {1} = {2}".format(num1,num2,result))
  return result

#call the function
plus(10,3)

10 + 3 = 13

13

In [ ]:
def ops(num1, num2):
  ret_val1 = num1 + num2
  ret_val2 = num1 * num2
  return ret_val1, ret_val2

In [ ]:
x, y = ops(1,2)

In [ ]:
x

3

In [ ]:
y

2

In [ ]:
#lambda function
def adds(a,b): 
    return a+b

lambda_adds = lambda a,b: a+b

print(adds(4,5)) # using def function
print(lambda_adds(4,5)) # using lambda function
print((lambda a,b: a+b)(4,5)) # using anonymous lambda function

9
9
9

#9. File Handling

In [ ]:
import os
os.getcwd()
os.listdir('sample_data')

['README.md',
 'anscombe.json',
 'mnist_train_small.csv',
 'mnist_test.csv',
 'california_housing_test.csv',
 'california_housing_train.csv']

In [ ]:
my_file = open('sample_data/README.md')
my_file

In [ ]:
try:
  my_file=open('sample_data/README.md')
finally:
  my_file.close()
  print("close")

close

In [ ]:
with open('sample_data/README.md') as my_file:  #use 'with' statement to make sure file handle closed after finish
  print(my_file.read(30)) #read 30 bytes from the last position
  print(my_file.tell()) #show position in file
  print(my_file.seek(30)) #go to position 30 
  print(my_file.read(35)) #read 35 bytes from the last position
  print(my_file.tell())

  print(my_file.readline()) #read a line (read until finding newline)

  my_file.seek(0) #go to the beginning of the file
  lines = my_file.readlines()
  for line in lines:
    print(line, end='')

This directory includes a few
30
30
sample datasets to get you started.
65


This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

# Revision History

Release: 1.2109.1901

* Code cleanup